# Build outputs
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider files
.idea/
*.sln.iml

# VS Code files
.vscode/

# MSBuild
*.csproj.user
*.csproj.bak

# NuGet
.nuget/
*.nupkg
packages/

# Logs and temp files
*.log
*.tmp
*.temp

# Runtime data
publish/
"*.db" 
"*.db-shm"   
"*.db-wal" 